{% extends 'base.html.twig' %}
{% block title %}Paiement Réussi{% endblock %}
{% block body %}
    <div class="container mt-5 text-center">
        <h1>🎉 Paiement réussi</h1>
        <p>Merci pour votre achat !</p>
        <a href="{{ path('app_boutique') }}" class="btn btn-primary">Retour à la boutique</a>
    </div>
{% endblock %}

