{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Bienvenue dans la boutique</h1>
        <p>Liste des cursus disponibles à l'achat (à compléter)...</p>
    </div>
{% endblock %}
